* {
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	font-family: "Menlo-Regular", Monospace;
	color: #333;
	overflow: hidden;
}

h1 {
	font-size: 18px;
	margin-bottom: 12px;
}

#container {
	width: 100%;
	height: 100%;
	min-width: 960px;
	min-height: 540px;
	overflow: hidden;
}

#container canvas {
	width: 100%;
	height: 100%;
	cursor: none;
}

#info {
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: #fff;
	background: #000;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 8px 4px 8px;
}

#controls {
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 320px;
	background: #212121;
	padding: 10px;
	color: #fff;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	-webkit-transition: right 500ms ease-out;
	-moz-transition: right 500ms ease-out;
	-ms-transition: right 500ms ease-out;
	transition: right 500ms ease-out;
}

#controls h1 {
	font-size: 21px;
	font-weight: normal;
}