* {
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	font-family: "Menlo-Regular", Monospace;
	color: #333;
}

h1 {
	font-size: 18px;
	margin-bottom: 12px;
}

#container {
	width: 100%;
	height: 100%;
	min-width: 960px;
	min-height: 540px;
	overflow: hidden;
}

#container canvas {
	width: 100%;
	height: 100%;
}

#info {
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: #fff;
	background: #000;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 8px 4px 8px;
}