* {
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	font-family: "Menlo-Regular", Monospace;
	color: #333;
}

h1 {
	font-size: 18px;
	margin-bottom: 12px;
}

#container {
	width: 100%;
	height: 100%;
	min-width: 960px;
	min-height: 580px;
}

#container .inside {
	width: 960px;
	height: 540px;
	margin: 24px auto 0px auto;
	/*margin-top: 48px;*/
}

canvas {
	border: 2px solid #ccc;
}

#info {
	font-size: 11px;
	margin-top: 4px;
}